.logstyle{
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url(src/assets/regback.jpg);
    height:100%;
}
.backcolor{
    padding-top: 2%;
    background-color: darkgray;
    padding-bottom: 2%;
    margin-left: 50%;
}