
<div class=" regstyle">
    <div class="backcolor">
            <h3>Create Note</h3>
           
<div class="col-sm-4">
    <div class="form-group">
      <label>Topic</label>
      <input type="text" class="form-control" value=" {{ data.topic }}"  [(ngModel)]="title"   placeholder="Topic" >
    </div>


    </div>
    <div class="col-sm-4">
        <div class="form-group">
          <label >Message</label>
          <textarea class="form-control" value="{{ data.message }}" [(ngModel)]="message" placeholder="Message" ></textarea>
        </div>
    
    
        </div>
        <div class="col-sm-4">
            <div class="form-group">
             
              <button type="submit" *ngIf="this.isButtonVisible; else buttonCreate" class="btn btn-primary" (click)="editClicked( data.id )">Update</button>

            <ng-template #buttonCreate> <button type="submit" class="btn btn-primary" (click)="addClicked()">Create</button></ng-template> 

            </div>
        
        </div>
       
            </div>
</div>           